<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/background_canteen"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Canteen"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.profile.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.menu.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.OrderDone"
            android:exported="false" />
        <activity
            android:name=".ui.myCurrentOrder"
            android:exported="false" />
        <activity
            android:name=".ui.OrderHistory"
            android:exported="false" />
        <activity
            android:name=".ui.paymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PembeliMenuOrder"
            android:exported="false" />
        <activity
            android:name=".ui.daftar.Daftar"
            android:exported="false" />
        <activity
            android:name=".ui.login.Login"
            android:exported="false" />
        <activity
            android:name=".ui.penjual.login.LoginPenjualActivity"
            android:exported="false" />
        <activity
            android:name=".ui.penjual.dashboard.DashboardPenjualActivity"
            android:exported="false" />
        <activity
            android:name=".ui.penjual.homeadminproduk.pilihmenu.PilihMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.penjual.pendapatan.PendapatanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.penjual.rating.RatingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.penjual.riwayat.RiwayatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.penjual.daftar.DaftarPenjualActivity"
            android:exported="false" />
        <activity
            android:name=".MainPenjualActivity"
            android:exported="false" />
        <activity
            android:name=".ui.penjual.homeadminproduk.additem.AddItemActivity"
            android:exported="false" />
        <activity
            android:name=".ui.penjual.homeadminproduk.HomeProduk"
            android:exported="false" />
        <activity
            android:name=".ui.penjual.homeadminproduk.edititem.EditItemActivity"
            android:exported="false" />
        <activity android:name=".ui.menu.UserMenuOrderActivity"/>
        <activity android:name=".ui.payment.PaymentActivity"/>
        <activity android:name=".ui.payment.OrderDoneActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>