<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/background_canteen"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Canteen"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.profile.UserProfileActivity" />
        <activity android:name=".ui.dashboard.DashboardActivity" />
        <activity android:name=".ui.menu.MenuActivity" />
        <activity android:name=".ui.myCurrentOrder" />
        <activity android:name=".ui.OrderHistory" />
        <activity android:name=".ui.daftar.Daftar" />
        <activity android:name=".ui.login.Login" />
        <activity android:name=".ui.penjual.login.LoginPenjualActivity" />
        <activity android:name=".ui.penjual.dashboard.DashboardPenjualActivity" />
        <activity android:name=".ui.penjual.homeadminproduk.pilihmenu.PilihMenuActivity" />
        <activity android:name=".ui.penjual.pendapatan.PendapatanActivity" />
        <activity android:name=".ui.penjual.rating.RatingActivity" />
        <activity android:name=".ui.penjual.order.OrderPenjualActivity" />
        <activity android:name=".ui.penjual.daftar.DaftarPenjualActivity" />
        <activity android:name=".MainPenjualActivity" />
        <activity android:name=".ui.penjual.homeadminproduk.additem.AddItemActivity" />
        <activity android:name=".ui.penjual.homeadminproduk.HomeProduk" />
        <activity android:name=".ui.penjual.homeadminproduk.edititem.EditItemActivity" />
        <activity android:name=".ui.payment.UserMenuOrderActivity" />
        <activity android:name=".ui.payment.PaymentActivity" />
        <activity android:name=".ui.payment.OrderDoneActivity" />
        <activity android:name=".ui.pesanan.MyCurrentOrdersActivity" />
        <activity android:name=".ui.pesanan.OrdersHistoryActivity" />

        <service
            android:name=".services.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>