<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.Canteen">
        <activity
            android:name=".ui.pendapatan.PendapatanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.rating.RatingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homeadminproduk.edititem.EditItemActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homeadminproduk.additem.AddItemActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homeadminproduk.pilihmenu.PilihMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homeadminproduk.HomeProduk"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.riwayat.RiwayatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.daftar.DaftarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>